<h1>Courses</h1>

<style>
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
</style>

<table>
    {% if courses_exist %}
    <tr>
        <td>Name</td>
        <td>Game</td>
        <td>Cups</td>
    </tr>
    {% for item in courses %}
    <tr>
        <td><a href="/courses/{{item[0].replace(' ', '%20')}}">{{item[0]}}</a></td>
        <td><a href="/api/game/{{item[1].replace(' ', '%20')}}">{{item[1]}}</a></td>
        <td><a href="/cups/{{item[2].replace(' ', '%20')}}">{{item[2]}}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

<a href="/">Go back</a>
