<h1>Times</h1>

<a href="/create/time">Add new time</a>

<style>
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
</style>

<div>
<table style="border:1px solid black">
    {% if times_exist %}
    <tr>
        <td>Game</td>
        <td>Course</td>
        <td>Time</td>
        <td>User</td>
    </tr>
    {% for item in times %}
    <tr>
        <td><a href="/api/game/{{item[0].replace(' ', '%20')}}">{{item[0]}}</a></td>
        <td><a href="/api/course/{{item[1].replace(' ', '%20')}}">{{item[1]}}</a></td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</div>

<a href="/">Go back</a>
